@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Montserrat Arm";
    src: url("../public/fonter.am_montserrat-armenian/Montserratarm-Light.otf")
      format("opentype");
  }
body{
  overflow-x: hidden;
    font-family: Montserrat arm;
    color: #AFAEB1;
}